.error-msg {
  color: red;
  font-size: 18px;
  text-align: center;
}

.am-tab-bar {
  bottom: 0;
  width: 100%;
  height: inherit;
  position: fixed;
}

.sticky-header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
}
